<div>
    <div class="row">
        <input class="form-control col-6" placeholder="Nome" [(ngModel)]="Product.B1_COD" type="text" name="B1_COD">
        <input class="form-control col-6" placeholder="Preço (R$)" [(ngModel)]="Product.B1_DESC" type="text" name="B1_DESC">
    </div>
    <input matInput placeholder="Tipo" [(ngModel)]="Product.B1_TIPO" name="B1_TIPO">
    <input matInput placeholder="Unidade de Medida" [(ngModel)]="Product.B1_UM" type="text" name="B1_UM">
    <input matInput placeholder="Armazem Pad." [(ngModel)]="Product.B1_LOCPAD" name="B1_LOCPAD">
    <input matInput placeholder="Garantia" [(ngModel)]="Product.B1_GARANT" name="B1_GARANT">
</div>
<div>
    <button mat-raised-button (click)="create()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>