<mat-tab-group>
    <mat-tab label="First">
        <mat-card>
            <mat-card-title>Novo Produto</mat-card-title>
            <br>
            <div>
                <form>
                    <div class="campos">
                        <mat-form-field hintLabel="Max 15 characters // *Codigo" appearance="outline" class="codigo">
                            <input matInput #input maxlength="15" class="borda" placeholder="Codigo" [(ngModel)]="product.B1_COD" name="B1_COD" disabled>
                            <!-- <input matInput #input maxlength="15" placeholder="Codigo" name="B1_COD"> -->
                        </mat-form-field>
                        <mat-form-field hintLabel="Max 30 characters" appearance="outline" class="descricao">
                            <input matInput maxlength="30" placeholder="Descrição" type="text" [(ngModel)]="product.B1_DESC" name="B1_DESC">
                            <!-- <input matInput maxlength="30" placeholder="Descrição" type="text" name="B1_DESC"> -->
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="campos">
                        <mat-form-field hintLabel="Tipo" appearance="outline" class="Tipo">
                            <mat-label>Select</mat-label>
                            <mat-select [(value)]="product.B1_TIPO">
                            <!-- <mat-select> -->
                                <mat-option value="AI">ATIVO IMOBILIZADO</mat-option>
                                <mat-option value="BN">BENEFICIAMENTO</mat-option>
                                <mat-option value="EM">EMBALAGEM</mat-option>
                                <mat-option value="GE">GARANTIA ESTENDIDA</mat-option>
                                <mat-option value="GG">GASTOS GERAIS</mat-option>
                                <mat-option value="GN">GENERICO</mat-option>
                                <mat-option value="IA">INSUMO AGRICOLA</mat-option>
                                <mat-option value="II">INSUMO INDUSTRIAIS</mat-option>
                                <mat-option value="IN">PRODUTOS INDUSTRIAIS</mat-option>
                                <mat-option value="KT">KIT</mat-option>
                                <mat-option value="MC">MATERIAL DE CONSUMO</mat-option>
                                <mat-option value="ME">MERCADORIA</mat-option>
                                <mat-option value="MM">MATERIAIS MANFRO</mat-option>
                                <mat-option value="MO">MAO DE OBRA</mat-option>
                                <mat-option value="MP">MATERIA PRIMA</mat-option>
                                <mat-option value="OI">OUTROS INSUMOS</mat-option>
                                <mat-option value="PA">PRODUTO ACABADO</mat-option>
                                <mat-option value="PI">PRODUTO INTERMEDIARIO</mat-option>
                                <mat-option value="PP">PRODUTO EM PROCESSO</mat-option>
                                <mat-option value="PV">PRODUTO VEICULO</mat-option>
                                <mat-option value="SL">SELO DE CONTROLE</mat-option>
                                <mat-option value="SM">SEMENTES</mat-option>
                                <mat-option value="SP">SUBPRODUTO</mat-option>
                                <mat-option value="SV">SERVIÇO</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field hintLabel="Unidade Medida" appearance="outline" class="Unidade">
                            <mat-label>Select</mat-label>
                            <mat-select [(value)]="product.B1_UM">
                            <!-- <mat-select> -->
                                <mat-option value="AR">ARROBA</mat-option>
                                <mat-option value="BD">BALDE</mat-option>
                                <mat-option value="CC">CENTIMET</mat-option>
                                <mat-option value="CM">CENTIMET</mat-option>
                                <mat-option value="CT">CENTO</mat-option>
                                <mat-option value="CX">CAIXA</mat-option>
                                <mat-option value="DM">DECIMETR</mat-option>
                                <mat-option value="DZ">DUZIA</mat-option>
                                <mat-option value="FL">FOLHAS</mat-option>
                                <mat-option value="FT">PES</mat-option>
                                <mat-option value="G">GRAMA</mat-option>
                                <mat-option value="GL">GALAO</mat-option>
                                <mat-option value="GZ">GROZA</mat-option>
                                <mat-option value="HR">HORA</mat-option>
                                <mat-option value="JG">JOGO</mat-option>
                                <mat-option value="KG">QUILOGRA</mat-option>
                                <mat-option value="KT">KIT</mat-option>
                                <mat-option value="L">LITRO</mat-option>
                                <mat-option value="LB">LIBRA</mat-option>
                                <mat-option value="LT">LATA</mat-option>
                                <mat-option value="M2">METRO QU</mat-option>
                                <mat-option value="M3">METRO CU</mat-option>
                                <mat-option value="ML">MILILITR</mat-option>
                                <mat-option value="MM">MILIMETR</mat-option>
                                <mat-option value="MT">METRO</mat-option>
                                <mat-option value="OZ">ONCA</mat-option>
                                <mat-option value="P">PAR</mat-option>
                                <mat-option value="PC">PECA</mat-option>
                                <mat-option value="PL">POLEGADA</mat-option>
                                <mat-option value="TL">TONELADA</mat-option>
                                <mat-option value="UN">UNIDADE</mat-option>
                                <mat-option value="YD">JARDA</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field hintLabel="Armazem Padrao p/Requis" appearance="outline" class="Armazen">
                            <mat-label>Select</mat-label>
                            <mat-select [(value)]="product.B1_LOCPAD">
                            <!-- <mat-select> -->
                                <mat-option value="01">ESTOQUE MAXIMO</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field hintLabel="Garnatia" appearance="outline" class="Garantia">
                            <mat-label>Select</mat-label>
                            <mat-select [(value)]="product.B1_GARANT">
                            <!-- <mat-select> -->
                                <mat-option value="1">SIM</mat-option>
                                <mat-option value="2">NÃO</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div>
                <button mat-raised-button (click)="update()" color="primary">
                    Salvar
                </button>
                <button mat-raised-button (click)="cancel()">
                    Cancelar
                </button>
            </div>
        </mat-card>
    </mat-tab>
    <!-- Algo que será adcionado futuramente -->
    <!-- <mat-tab label="Second">

    </mat-tab>
    <mat-tab label="Third">

    </mat-tab> -->
</mat-tab-group>