<div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Unidade</th>
                <th>Loja</th>
                <th>Garantia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products" class="active-row">
                <td>{{product.B1_COD }}</td>
                <td>{{product.B1_DESC}}</td>
                <td>{{product.B1_TIPO}}</td>
                <td>{{product.B1_UM}}</td>
                <td>{{product.B1_LOCPAD}}</td>
                <td>{{product.B1_GARANT}}</td>
                                <td>
                    <button routerLink="visualizar/{{product.B1_COD}}" mat-mini-fab class="olho" aria-label="Example icon button with a delete icon">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
                <td>
                    <button routerLink="edit/{{product.B1_COD}}" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
                <td>
                    <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>